[submodule "About-Kami"]
	path = About-Kami
	url = git@github.com:VlxtIykg/About-Kami.git
[submodule "endpoint"]
	path = endpoint
	url = git@github.com:VlxtIykg/endpoint.git
[submodule "status-switcher"]
	path = status-switcher
	url = git@github.com:VlxtIykg/status-switcher.git
